body {
    background-image: linear-gradient(45deg, #004a7b, #686c75, #0d81bc);
    background-size: cover;
    background-repeat: no-repeat; /* Prevents any tiling/repeating */
    min-height: 100vh;
    color: #D3D3D3 ;
}